<!-- contacto.component.html -->
<section class="contacto-container">
    <div class="containerInformacion">
      <div class="containerSubtitulo">
        <h2 class="tituloContacto">Contacto</h2>
        <p class="subContacto">¡Contáctanos para más información!</p>
  
      </div>
  
      <div class="informacion-contacto">
        <div class="telefono">
          <h3>Teléfono</h3>
          <p>+591 7647478</p>
        </div>
  
        <div class="redes-sociales">
          <h3>Redes Sociales</h3>
          <p>Facebook: OnlineShopping</p>
          <p>Twitter: OnlineShopping02</p>
          <p>Instagram: Online_Shopping</p>
        </div>
  
        <div class="correo">
          <h3>Correo Electrónico</h3>
          <p>OnlineShopping.com</p>
        </div>
        <div class="maps">
          <iframe class="mapita"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d121835.8268797022!2d-66.24644935978698!3d-17.394042125750865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93e373e0d9e4ab27%3A0xa2719ae9532c3e65!2sCochabamba!5e0!3m2!1ses-419!2sbo!4v1701268045557!5m2!1ses-419!2sbo"
            width="250" height="150" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
            
        </div>
      </div>
  
  
    </div>
  </section>