<div class="topnav">
  <a [routerLink]="['inicio']" [routerLinkActive]="['active']"> Inicio</a> |
  <a [routerLink]="['tienda']" [routerLinkActive]="['active']">Tienda</a> |
  <a [routerLink]="['nosotros']" [routerLinkActive]="['active']">Nosotros</a> |
  <a [routerLink]="['contactanos']" [routerLinkActive]="['active']">Contactanos</a>
  <div class="carrito-icono">
    <a [routerLink]="['/carrito']">
      <img src="./../assets/carrito.png" alt="Carrito" class="carrito-imagen">
      <span class="badge">{{ carritoCantidad }}</span>
    </a>
  </div>
</div>
<router-outlet />
