<div class="contenedor-carrito">
    <h2>Carrito de Compras</h2>
    <div *ngIf="carrito.length > 0; else carritoVacio">
      <div *ngFor="let producto of carrito; trackBy: trackById" class="producto">
        <img [src]="producto.image" alt="{{producto.title}}">
        <div class="detalle">
          <h3>{{producto.title}}</h3>
          <p>Precio: ${{producto.price}}</p>
          <p>Cantidad: 1</p>
          <button (click)="eliminarProducto(producto.id)">Eliminar</button>
        </div>
      </div>
      <div class="total">
        <h3>Total a pagar: ${{total}}</h3>
      </div>
      <button (click)="limpiarCarrito()">Limpiar Carrito</button>
    </div>
    <ng-template #carritoVacio>
      <p>El carrito está vacío.</p>
    </ng-template>
  </div>
  