<div class="nosotros-container">
    <div class="nosotros-section">
      <div class="nosotros-text">
        <h2 class="titulo-grande">Nuestra Historia</h2>
        <p class="parrafo-mediano">La tienda de Elo es una empresa española, familiar y emprendedora fundada el 12 de
            Diciembre de 1994.
            Desde entonces nuestra misión siempre ha sido estar a la moda con las últimas tendencias y
            diseños del mercado con precios muy competitivos.
            
            En LA TIENDA encontrarás una amplia variedad de ropa de mujer. Desde vestidos de
            fiesta hasta pantalones cortos pasando por camisas con estampados. También podrás elegir el
            mejor calzado puesto que contamos con zapatos de mujer para cualquier ocasión; sandalias de
            tacón, sandalias planas con detalles o deportivas entre otras. Si necesitas complementos, en
            LA TIENDA  encontrarás bolsos de todo tipo: pequeños para salir de fiesta, mochilas,
            capazos playeros, bandoleras… y para complementar tu ropa de mujer te recomendamos echar
            un vistazo a nuestra sección de accesorios.
            Somos ese rincón donde encontrarás todo lo necesario para sentirte especial en tu día a día y
            brillar en ocasiones especiales.
            No pierdas la ocasión de conocer nuestra tienda de ropa online. Te encantará.</p>
      </div>
      <div class="nosotros-images">
        <img src="assets/imagen1.jpg" alt="Imagen 1">
        <img src="assets/imagen6.jpg" alt="Imagen 2">
      </div>
    </div>
    
    <div class="nosotros-section">
      <div class="nosotros-text">
        <h2 class="titulo-grande">Nuestra Misión</h2>
        <p class="parrafo-mediano">Queremos ser más que una tienda de moda. Queremos ser un lugar donde la creatividad y la individualidad se encuentren, donde cada persona pueda expresar su estilo único a través de nuestra selección de ropa y joyería.
            Ofrecer a nuestros clientes  productos de calidad, a precios cómodos  que cumplan con sus necesidades y exigencias, abarcando sus gustos de acuerdo a su estilo de ver y vivir la vida.Ser una empresa  líder y reconocida en la venta de ropa MeAnJe, lograr también extendernos y crear  nuestras cadenas de almacenes,   proporcionando cada día más un servicio de excelencia a nuestros clientes y que al mismo tiempo nos permitan competir en el mercado nacional con los mejores precios del mercado.
        </p>
      </div>
      <div class="nosotros-images">
        <img src="assets/imagen5.jpg" alt="Imagen 3">
        <img src="assets/imagen2.jpg" alt="Imagen 4">
      </div>
    </div>
    
    <div class="nosotros-section">
      <div class="nosotros-text">
        <h2 class="titulo-grande">Nuestra Esencia</h2>
        <p class="parrafo-mediano">En nuestra marca, la moda va más allá de la ropa que usamos. Para nosotros, la moda es una forma de arte, una expresión de nuestra identidad y una declaración de nuestra personalidad. Creemos en la moda como una herramienta para empoderar a las personas y celebrar su diversidad.</p>
      </div>
      <div class="nosotros-images">
        <img src="assets/imagen8.jpg" alt="Imagen 5">
        <img src="assets/imagen7.jpg" alt="Imagen 6">
      </div>
    </div>
</div>